version: "3.9"

services:
  frontend:
    build: ./apps/frontend
    container_name: frontend
    ports:
      - "${FRONTEND_PORT}:3000"
    volumes:
      - ./apps/frontend:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - backend

  backend:
    build: ./apps/backend
    container_name: backend
    ports:
      - "${BACKEND_PORT}:3001"
    volumes:
      - ./apps/backend:/app
      - /app/node_modules
    env_file:
      - .env
